<!DOCTYPE html>
<html>
<head>
  <title>Katalog Bengkel</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h2>Halo, <%= user.username %></h2>
  <a href="/logout">Logout</a>
  <h3>Katalog Barang</h3>
  <ul>
    <li>Oli Shell 1L</li>
    <li>Oli Castrol 2L</li>
    <li>Filter Oli</li>
    <li>Busi NGK</li>
  </ul>
</body>
</html>
